body {
  height: 100%;
  background: #FFFFFF;
}

.info {
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
}

.photos {
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
}
