@import "../assets/mixins";

body {
  height: 100vh;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background: #333333;
  color: #FFFFFF;
}

.app {
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow-x: hidden;

  @include breakpoint(lg) {
    flex-direction: row;
    background: url('../../public/yumeColdUdon.jpg') no-repeat fixed center;
    background-size: cover;
  }
}

.info {
  height: auto;
  text-align: center;
  line-height: 1.2rem;

  @include breakpoint(lg) {
    flex-basis: 40%;
    background: rgba(51, 51, 51, 0.9);
  }

  h2 {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.5rem;
  }
}

.logo {
  height: 40%;
  max-height: 200px;
  margin-top: -28px;

  @include breakpoint(lg) {
    display: contents;
    height: auto;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

}

.hours-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -28px;

  @include breakpoint(sm) {
    margin-top: -18px;
  }
}

.order-online {
  margin-top: 16px;
  font-size: 20px;
  color: #FFFFFF;

  &:hover {
    text-decoration: none;
  }
}

.hours-subtitle {
  max-width: 90%;
  margin-top: 8px;
  font-size: 14px;

  @include breakpoint(sm) {
    max-width: 70%;
  }
}

.hours {
  margin-top: 12px;
}

.dateTime {
  display: flex;
  justify-content: space-between;
  max-width: 320px;
}

.day {
  margin-right: 16px;
}

.time {
}


.contactUs {
  margin-top: 16px;

  .location {
    margin-top: 12px;

    @include breakpoint(lg) {
      margin-top: 16px;
    }
  }

  .socialMedia {
    margin-top: 10px;

    @include breakpoint(lg) {
      margin: 16px 0 4px;
    }
  }

  .socialMediaLink {
    margin: 0 12px;

    img {
      height: 30px;

      &:hover {
        outline: 1px solid #FFFFFF;
      }
    }
  }

  .email {
    margin-top: 14px;
    color: #FFFFFF;

    &:hover {
      text-decoration: none;
    }
  }
}

.photos {
  width: auto;
  height: auto;
  margin-top: 16px;

  @include breakpoint(lg) {
    display: none;
    flex-basis: 60%;
    margin-top: 0;
  }
}

.photo {
  max-width: 100%;
  max-height: 100%;
}
