@import "../assets/mixins";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background: #333333;
  color: #FFFFFF;
}

.app {
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow-x: hidden;

  @include breakpoint(lg) {
    flex-direction: row;
    background: url('../../public/yumeColdUdon.jpg') no-repeat fixed center;
    background-size: cover;
  }
}

.info {
  height: auto;
  text-align: center;
  line-height: 1.2rem;

  @include breakpoint(lg) {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    height: fit-content;
    min-height: 100vh;
    padding-bottom: 32px;
    background: rgba(51, 51, 51, 0.9);
  }

  h2 {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.5rem;

    @include breakpoint(lg) {
      font-size: 32px;
      line-height: 1.8rem;
    }
  }
}

.logo {
  height: 40%;
  max-height: 200px;
  margin-top: -28px;

  @include breakpoint(lg) {
    height: auto;
    max-height: initial;
    margin-top: -40px;
  }

  img {
    max-width: 100%;
    max-height: 100%;

    @include breakpoint(lg) {
      max-height: initial;
    }
  }

}

.hours-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -28px;

  @include breakpoint(sm) {
    margin-top: -18px;
  }

  @include breakpoint(lg) {
    margin-top: -28px;
  }
}

.order-online {
  margin-top: 16px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  padding: 8px;
  font-size: 20px;
  font-weight: 700;
  background: #FFFFFF;
  color: #333333;
  text-decoration: none;

  &:hover {
    background: #333333;
    color: #FFFFFF;
  }

  &:active {
    background: #333333;
    color: #FFFFFF;
  }
}

.hours-subtitle {
  max-width: 90%;
  margin-top: 10px;
  font-size: 14px;

  @include breakpoint(sm) {
    max-width: 70%;
  }
}

.hours {
  margin-top: 12px;
}

.dateTime {
  display: flex;
  justify-content: space-between;
  max-width: 320px;
}

.day {
  margin-right: 16px;

  @include breakpoint(lg) {
    margin-right: 32px;
  }
}

.contactUs {
  margin-top: 16px;

  @include breakpoint(lg) {
    margin-top: 24px;
  }

  h2 {
    margin-bottom: 16px;
  }

  .email {
    color: #FFFFFF;

    &:hover {
      text-decoration: none;
    }
  }

  .location {
    margin-top: 12px;

    @include breakpoint(lg) {
      margin-top: 16px;
    }
  }

  .socialMedia {
    margin-top: 10px;

    @include breakpoint(lg) {
      margin: 16px 0 4px;
    }

    .socialMediaLink {
      margin: 0 12px;

      img {
        height: 30px;

        &:hover {
          outline: 1px solid #FFFFFF;
        }
      }
    }
  }
}

.photos {
  width: auto;
  height: auto;
  margin-top: 16px;

  @include breakpoint(sm) {
    margin-top: 28px;
  }

  @include breakpoint(lg) {
    display: none;
    flex-basis: 60%;
    margin-top: 0;
  }
}

.photo {
  max-width: 100%;
  max-height: 100%;
}
